
    <div id="event">
        <div class="text-center my-2">
            <div class="alert alert-light mb-0 p-4">
                <div class="row" id="boothDiv">
                    <!-- <div class="col-xl-4 col-lg-4 col-md-4 col-6 mb-1">
                        <a class="btn btn-outline-secondary w-75" data-bs-toggle="modal" data-bs-target="#qrmodal">
                            <div class="p-2 mt-2"><span><i class="fa-solid fa-mask-ventilator fa-2x mb-2"></i></span><h6>Booth 1</h6></div>
                        </a>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-6 mb-1">
                        <a class="btn btn-outline-secondary w-75" href="payment/bankselection.php">
                            <div class="p-2 mt-2"><span><i class="fa-solid fa-mask-ventilator fa-2x mb-2"></i></span><h6>Booth 2</h6></div>
                        </a>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-6">
                        <a class="btn btn-outline-secondary w-75" href="payment/bankselection.php">
                            <div class="p-2 mt-2"><span><i class="fa-solid fa-mask-ventilator fa-2x mb-2"></i></span><h6>Booth 3</h6></div>
                        </a>
                    </div>

                    <div class="col-xl-4 col-lg-4 col-md-4 col-6 mb-1">
                        <a class="btn btn-outline-secondary w-75" href="payment/bankselection.php">
                            <div class="p-2 mt-2"><span><i class="fa-solid fa-mask-ventilator fa-2x mb-2"></i></span><h6>Booth 4</h6></div>
                        </a>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-6 mb-1">
                        <a class="btn btn-outline-secondary w-75" href="payment/bankselection.php">
                            <div class="p-2 mt-2"><span><i class="fa-solid fa-mask-ventilator fa-2x mb-2"></i></span><h6>Booth 5</h6></div>
                        </a>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-6">
                        <a class="btn btn-outline-secondary w-75" href="payment/bankselection.php">
                            <div class="p-2 mt-2"><span><i class="fa-solid fa-mask-ventilator fa-2x mb-2"></i></span><h6>Booth 6</h6></div>
                        </a>
                    </div> -->
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="qrmodal" tabindex="-1" aria-labelledby="boothModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="boothModal"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="boothid" name="boothid">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-primary" onclick="onClickScan()">Scan</button>
                    <!-- <button type="button" class="btn btn-outline-primary">Next</button> -->
                </div>
            </div>
        </div>
    </div>

    <script>
        var noBoothCount = 0;
        var successCount = 0;

        $(document).ready(function () {
            $('#title').html('Hurry!');

            onSubmitRequest('handler=Tracking&action=select', false);
        });
        
        // $('form').on('submit', function (event) {
        //     var formValues = $(this).serialize();
        //         formValues += '&handler=Event&action=readtnc';

        //     onSubmitRequest(formValues, false);

        //     return false;
        // });

        onPostSubmitRequest = (response) => {
            console.log(response);
            var booths = '';

            $.each(response.data, function (index, booth) {
                booths += '<div class="col-xl-4 col-lg-4 col-md-4 col-6 mb-1">' +
                            '<a class="btn btn-outline-secondary w-75" href="javascript:onClickBooth('+ (index+1) +')" id="booth_'+ (index+1) +'">' +
                              '<div class="p-2 mt-2"><span><i class="fa-solid fa-mask-ventilator fa-2x mb-2"></i></span><h6>Booth '+ (index+1) +'</h6></div>' +
                            '</a>' + 
                          '</div>';
                noBoothCount++;
            });

            $('#boothDiv').html(booths);
        }

        let onClickBooth = (boothid) => {            
            $('#boothid').val(boothid);
            $('#boothModal').text(`Booth - ${boothid}`);
            $('#qrmodal').modal('toggle');
        }

        let onClickScan = () => {
            let boothid = $('#boothid').val();

            $('#booth_'+boothid).addClass('done');
            $('#qrmodal').modal('hide');

            successCount++;
            if (successCount == noBoothCount) {
                alert('Congratulation! You have complete the event. Please visit to our counter to redeem your gift, thank you');
            }
            
        }
    </script>
