
    <div id="registration">
        <form id="registration-form" class="row g-3 needs-validation" novalidate>
            <div class="form-group mb-3">
                <label for="name" class="form-label">Event</label>
                <select class="form-select w-100" id="eventid" name="eventid" required>
                    <option value="0" selected disabled>Please select an event</option>
                    <option value="1">PC Fair</option>
                </select>
                <div class="invalid-feedback">
                    Please select an event to participate.
                </div>
            </div>
            <div class="mt-0" id="userDetails">
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" name="name" maxlength="100" required>
                    <div class="invalid-feedback">
                        Please provide a valid name.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email Address</label>
                    <input type="email" class="form-control" id="email" name="email" maxlength="255" aria-describedby="emailHelp" required>
                    <div id="emailHelp" class="form-text blockquote-footer">
                        We'll never share your email with anyone else.
                    </div>
                    <div class="invalid-feedback">
                        Please provide a valid email address.
                    </div>
                </div>

                <div class="d-grid d-md-flex justify-content-md-end">
                    <button type="submit" class="btn btn-outline-primary" id="btnSubmit">
                        Next
                    </button>
                </div>
            </div>
        </form>
    </div>
    
    <script>
        $(document).ready(function () {
            $('#userDetails').hide();
        });

        $('#eventid').on('change', function () {
            if (0 < this.value) {
                $('#userDetails').slideDown();
            } else {
                $('#userDetails').slideUp();
            }
        });

        $('#registration-form').on('submit', function (event) {
            // event.preventDefault();

            var formValues = $(this).serialize();
                formValues += '&handler=User&action=register';

            onSubmitRequest(formValues, false);

            return false;
        });

        let onPostSubmitRequest = (response) => {
            pageReload('introduction');
        }
    </script>
